<%- include("partials/header.ejs") %>
    <div class="container">
        <div class="booking">
            <form method="" action="">
                <label for="">Nom</label>
                <input type="text" name="lastname">

                <label for="">Prénom</label>
                <input type="text" name="firstname">

                <label for="">Email</label>
                <input type="email" name="email">

                <label for="">Date</label>
                <input type="date" name="date_booking">

                <input type="submit" value="Envoyer" name="submit">
            </form>
        </div>
    </div>
<%- include("partials/footer.ejs") %>